.sp-thongbao {
  color: red;
  margin-left: 2px;
  /* display: none; */
}

#SapXepGiam {
  display: none;
}

#content {
  width: 100%;
  background: #74ebd5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.myCardHeader,
.myCardFooter {
  background-color: transparent;
}

/* ========================================== */

#searchName.invalid,
#modal-form .form-control.invalid {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.1);
  color: red;
}

#modal-form .form-control:focus {
  border-color: #008000;
  box-shadow: none;
}

.form-group {
  margin-bottom: 0;
  margin-top: 4px;
}

.modal-footer {
  padding-right: 0;
}

.filter-employee {
  cursor: pointer;
}

.notice-status {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
  color: #fff;
  padding: 4px 40px;
  border-radius: 32px;
  font-size: 14px;
  animation: fadeIn 0.3s ease-in-out;
  display: none;
}

.notice-status.show {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    top: -5%;
  }

  to {
    top: 5%;
    opacity: 1;
  }
}